<div local-class="author" ...attributes>
  {{#if @tooltip}}
    <div local-class="tooltip">
      {{@author.name}}
    </div>
  {{/if}}

  {{#if @author.image}}
    <LinkTo local-class="static-avatar {{@size}}" @route="author" @model={{@author.id}}>
      <ResponsiveImage local-class="profile-image" @image={{responsive-image-url @author.image}} @alt={{@author.name}}/>
    </LinkTo>
  {{else}}
    <LinkTo local-class="static-avatar profile-image {{@size}}" @route="author" @model={{@author.id}}><SvgIcons::Avatar/></LinkTo>
  {{/if}}
</div>