<article local-class="post">
  {{!--<header local-class="header">
    <h1 local-class="title">{{@post.title}}</h1>
  </header>--}}

  {{#if @post.image}}
    <header local-class="post-card">
      <div local-class="image">
        <img src={{@post.image}} alt={{@post.title}}>
      </div>
      <div local-class="content">
        {{#if @post.primaryTag}}
          <span local-class="tag">{{if @post.primaryTag.name @post.primaryTag.name @post.primaryTag}}</span>
        {{/if}}
        <h1 local-class="title">{{@post.title}}</h1>
      </div>
    </header>
  {{/if}}

  <Content @content={{@post.content}}/>

  <footer local-class="footer">
    {{!-- There are two options for how we display the byline/author-info.
        If the post has more than one author, we load a specific template
        from includes/byline-multiple.hbs, otherwise, we just use the
        default byline. --}}
  </footer>

  {{!--
  <section class="post-content-comments">
      If you want to embed comments, this is a good place to do it!
  </section>
  --}}
</article>