<article local-class="post">
  <header local-class="post-card {{if @post.image "with-image"}}">
    {{#if @post.image}}
      <div local-class="image">
        <ResponsiveImage @image={{responsive-image-url @post.image}} @alt={{@post.title}}/>
      </div>
    {{else}}
      <div local-class="gradient image" style={{gradient-bg seed=@post.title}}></div>
    {{/if}}
    <div local-class="content-wrapper">
      <div local-class="content">
        {{#if @post.primaryTag}}
          <span local-class="tag">{{date @post}} &mdash; {{if @post.primaryTag.name @post.primaryTag.name @post.primaryTag}}</span>
        {{/if}}
        <h1 local-class="title">{{@post.title}}</h1>
      </div>
      <AuthorList local-class="author-list" @authors={{@post.authors}} @large={{true}} @link={{true}}/>
    </div>
  </header>

  <Content @content={{@post.content}}/>

  <footer local-class="footer">
    {{!-- There are two options for how we display the byline/author-info.
        If the post has more than one author, we load a specific template
        from includes/byline-multiple.hbs, otherwise, we just use the
        default byline. --}}
  </footer>

  {{!--
  <section class="post-content-comments">
      If you want to embed comments, this is a good place to do it!
  </section>
  --}}
</article>