{{!--
Re-usable card for linking to posts
--}}

<article local-class="post-card {{if @post.image "with-image"}}" ...attributes>
  <LinkTo local-class="link" @route="post" @model={{@post.id}} style={{unless @post.image (gradient-bg seed=@post.title)}}>
    {{#if @post.image}}
      <div local-class="image">
        <ResponsiveImage @image={{responsive-image-url @post.image}} @alt={{@post.title}} @size={{if (media "isMobile") 100 50}}/>
      </div>
    {{/if}}
    <div local-class="content">
      {{#if @post.primaryTag}}
        <span local-class="tag">{{if @post.primaryTag.name @post.primaryTag.name @post.primaryTag}}</span>
      {{/if}}
      <h2 local-class="title">{{@post.title}}</h2>
    </div>

    <footer local-class="meta">
      <AuthorList @authors={{@post.authors}} @link={{false}}/>

      <span local-class="reading-time">{{reading-time @post}}</span>
    </footer>
  </LinkTo>
</article>