{{#let (hash
  MobileBar=@mobileBar
  Toggle=@toggle
) as |c|}}
  <c.MobileBar @isLocked={{true}} @isOverlay={{true}} style={{this.styles}} ...attributes>
    <header style={{this.headerStyles}}>
      {{#if (route-is "post")}}
        <LinkTo @route="index">Back</LinkTo>
      {{else}}
        <c.Toggle aria-label="Toggle navigation"><SvgIcons::Hamburger/></c.Toggle>
      {{/if}}
      <b class="mobile-bar__title">{{@title}}</b>
      <div class="fake-toggle"></div>
    </header>
  </c.MobileBar>
{{/let}}