<MobileBarWrapper as |mbw|>
  <MobileMenuWrapper
    @openDetectionWidth={{-1}}
  as |mmw|>
    {{!#unless (route-is "post")}}
      <mmw.MobileMenu
        @width={{90}}
        @maxWidth={{if (media "isMobile") -1 300}}
        @mode={{if (media "isMobile") "ios" "squeeze-reveal"}}
        @maskEnabled={{media "isMobile"}}
        @shadowEnabled={{media "isMobile"}}
      as |mm|>
        <Navigation @linkToComponent={{mm.LinkTo}}/>

        <footer>
          &copy; {{date format="YYYY"}} {{this.blog.title}}
          <br>
          Published with <a href="https://github.com/empress/empress-blog" target="_blank" rel="noopener noreferrer">empress-blog</a>
        </footer>
      </mmw.MobileMenu>
    {{!/unless}}

    <mbw.mobile-bar @isLocked={{true}} @isOverlay={{true}}>
      <header>
        {{#if (route-is "post")}}
          <LinkTo @route="index">Back</LinkTo>
        {{else}}
          <mmw.Toggle><SvgIcons::Hamburger/></mmw.Toggle>
        {{/if}}
        <b class="mobile-bar__title">{{this.blog.title}}</b>
        <div class="fake-toggle"></div>
      </header>
    </mbw.mobile-bar>

    <mmw.Content>
      <main class="site-main">
        {{outlet}}

        <footer class="main-footer">
          <img src="/empress-blog-hummingbird-template/images/hummingbird.png" alt="Hummingbird">
        </footer>
      </main>
    </mmw.Content>

  </MobileMenuWrapper>
</MobileBarWrapper>