<MobileBarWrapper as |mbw|>
  <MobileMenuWrapper
    @openDetectionWidth={{-1}}
    @embed={{not (media "isMobile")}}
  as |mmw|>
    <mmw.MobileMenu
      @mode={{if (media "isMobile") "ios" "squeeze-reveal"}}
      @maskEnabled={{media "isMobile"}}
      @shadowEnabled={{media "isMobile"}}
    as |mm|>
      <Navigation @linkToComponent={{mm.LinkTo}}/>

      <div class="social-links">
        {{#if @site.facebook}}
          <a href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener noreferrer">Facebook</a>
        {{/if}}
        {{#if @site.twitter}}
          <a href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener noreferrer">Twitter</a>
        {{/if}}
        {{#if this.blog.host}}
          <a href={{concat "https://feedly.com/i/subscription/feed/" (encode this.blog.host) '/rss.xml'}} title="RSS" target="_blank" rel="noopener noreferrer">RSS</a>
        {{/if}}
      </div>

      <footer>
        &copy; {{date format="YYYY"}} {{this.blog.title}}
        <br>
        Published with <a href="https://github.com/empress/empress-blog" target="_blank" rel="noopener noreferrer">empress-blog</a>
      </footer>
    </mmw.MobileMenu>

    <mbw.mobile-bar @isLocked={{false}} @isOverlay={{true}}>
      <header>
        <mmw.Toggle>Menu</mmw.Toggle>

        <h1>
          {{#if @site.logo}}
            <a class="site-head-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}"/></a>
          {{else}}
            <a class="site-head-logo" href="{{@site.url}}">{{@site.title}}</a>
          {{/if}}
          {{this.blog.title}}
        </h1>

        <div></div>
      </header>
    </mbw.mobile-bar>

    <mmw.Content>
      <main id="site-main" class="site-main">
        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{outlet}}
      </main>

      {{!-- The footer at the very bottom of the screen --}}
      <footer class="site-foot">
        &copy; {{date format="YYYY"}} <LinkTo @route="index">{{this.blog.title}}</LinkTo> &mdash; Published with <a href="https://github.com/empress/empress-blog" target="_blank" rel="noopener">empress-blog</a>
      </footer>
    </mmw.Content>
  </MobileMenuWrapper>
</MobileBarWrapper>