<MobileBarWrapper as |mbw|>
  <MobileMenuWrapper
    @openDetectionWidth={{-1}}
  as |mmw|>
    {{!#unless (route-is "post")}}
      <mmw.MobileMenu
        @width={{90}}
        @maxWidth={{if (media "isMobile") -1 300}}
        @mode={{if (media "isMobile") "ios" "squeeze-reveal"}}
        @maskEnabled={{media "isMobile"}}
        @shadowEnabled={{media "isMobile"}}
      as |mm|>
        <Navigation @linkToComponent={{mm.LinkTo}}/>

        <footer>
          &copy; {{date format="YYYY"}} {{this.blog.title}}
          <br>
          Published with <a href="https://github.com/empress/empress-blog" target="_blank" rel="noopener noreferrer">empress-blog</a>
        </footer>
      </mmw.MobileMenu>
    {{!/unless}}

    <TopBar
      @title={{this.blog.title}}
      @mobileBar={{mbw.mobile-bar}}
      @toggle={{mmw.Toggle}}
      @position={{mmw.position}}
      @relativePosition={{mmw.relativePosition}}
    />

    <mmw.Content>
      <main class="site-main">
        {{outlet}}

        <footer class="main-footer">
          <img src="/empress-blog-hummingbird-template/images/hummingbird.png" alt="Hummingbird">
        </footer>
      </main>
    </mmw.Content>

  </MobileMenuWrapper>
</MobileBarWrapper>