{{#let this.model as |author|}}
  <header class="author-header">
    <Author @author={{author}} @size="extra-large"/>
    <h1 class="page-title">{{author.name}}</h1>
    {{#if author.content}}
      <Description @content={{author.content}}/>
    {{/if}}

    <div class="author-meta">
      <AuthorLinks @author={{author}}/>
    </div>
  </header>

  <div class="post-feed">
    {{#each author.posts as |post|}}
      <PostCard @post={{post}} />
    {{/each}}
  </div>
{{/let}}
