<header class="page-head">
  <h1 class="page-title">{{if this.model.name this.model.name this.model.tag}}</h1>
  <Description>
    {{#if this.model.content}}
      {{markdown-to-html this.model.content tagName=""}}
    {{else}}
      A collection of {{plural this.model.posts.length empty='posts' singular='% post' plural='% posts'}}
    {{/if}}
  </Description>
</header>

<div class="post-feed">
  {{#each this.model.posts key="id" as |post|}}
    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
    <PostCard @post={{post}} />
  {{/each}}
</div>
